.dr-meow-meow-req-info {
    max-width: 1050px;
    width: 90%;
    margin: 20px auto;
}

.dr-meow-meow-req-info-header,
.dr-meow-meow-site-map-section,
.dr-meow-meow-user-stories-section {
    background-color: rgb(from var(--container-color) r g b / 80%);
    color: var(--container-text-color);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dr-meow-meow-req-info h2 {
    margin: 5px;
}

.dr-meow-meow-req-info nav {
    margin: 15px 0;
}

.dr-meow-meow-req-info a {
    display: inline-block;
    background-color: rgb(from var(--header-footer-color) r g b / 50%);
    color: var(--container-color);
    border-radius: 9999px;
    margin: 10px;
    padding: 5px 12px;
    font-size: 0.85rem;
    text-decoration: none;
}

.dr-meow-meow-req-info a:hover {
    color: var(--container-text-color);
    background-color: rgb(from var(--link-hover-color) r g b / 45%);
    border-radius: 9999px;
    font-style: italic;
}

.dr-meow-meow-req-info a[aria-current="page"] {
    font-style: italic;
}

.dr-meow-meow-site-map-section h3,
.dr-meow-meow-site-map-section h4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sitemap-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow-x: auto;
}

.user-stories-section h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-stories-list {
    background-color: rgb(from var(--container-color) r g b / 90%);
}