.dr-meow-meow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(from var(--container-color) r g b / 80%);
    color: var(--container-text-color);
    max-width: 700px;
    width: 90%;
    margin: 20px auto 0;
    padding: 20px;
    border-radius: 20px;
}

.dr-meow-meow h3 a,
.dr-meow-meow p a {
    text-decoration: none;
    color: var(--container-text-color);
}

.dr-meow-meow h3 a:hover,
.dr-meow-meow p a:hover {
    font-style: italic;
    font-weight: bold;
    color: var(--link-hover-color);
}

.dr-meow-meow img {
    padding-bottom: 15px;
}

.sub-menu a {
    background-color: rgb(from var(--header-footer-color) r g b / 50%);
    color: var(--container-color);
    border-radius: 9999px;
    margin: 5px;
    padding: 5px 12px;
    font-size: 0.85rem;
    text-decoration: none;
}

.sub-menu a:hover {
    color: var(--container-text-color);
    background-color: rgb(from var(--link-hover-color) r g b / 45%);
    border-radius: 9999px;
    font-style: italic;
}

.instructions {
    margin-bottom: 0px;
}